* {
    margin: 0;
    font-family: sans-serif;
}


.allcontent {
    max-width: 1200px;
    margin: auto;
}


nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
}


nav ul {
    display: flex;
    gap: 20px;
    list-style: none;
}

nav ul li a{
    text-decoration: none;
    text-transform: capitalize;
    color: gray;
}

nav ul li a:hover {
    text-decoration: underline;
}

.common-btn {
    padding: 1rem 1.2rem;
    border-radius: 5px;
    border: none;
    background-color: blue;
    text-transform: capitalize;
    font-size: 1rem;
    font-weight: 600;
    color: white;
}

.common-btn:hover {
    background-color: rgb(77, 77, 255);
}


.banner {
    height: 700px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)), url(/assets/banner.jpg);
    background-size: cover;
    margin-top: auto;
}

.banner img {
    height: 100%;
    width: 100%;
}

.banner-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3.5rem;
    color: white;
    

}

.banner-content h1 {
    margin-top: 8rem;
    font-size: 4rem;
    padding: 1rem;
    text-transform: capitalize;
}

.banner-content p {
    max-width: 650px;
    font-size: 1.2rem;
    font-weight: 100;
    color: rgb(201, 201, 201);
    text-align: center;
}

.banner-content button {
    margin-top: 14rem;
}

section .meet, .pricing {
    padding: 2rem;
    margin-top: 3rem;
}

.meet h1{
    font-size: 3rem;
    text-align: center;
    padding: 2rem;
    margin-top: 5rem;
}

.speakers {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}


.speakers .speaker {
    border-radius: 10px;
    box-shadow: 0 0 2px rgb(147, 147, 147);
}

.speaker img {
    width: 100%;
    border-radius: 10px;
}

.speaker .info {
    padding: 1rem;
    line-height: 1.5rem;
}

.unique{
    color: rgb(104, 104, 255);
    font-weight: 600;
}

.cards {
    display: flex;
    justify-content: space-around;

}

.pricing .cards h1, p {
    text-align: center;
}

.pricing h1 {
    font-size: 3rem;
    text-align: center;
    padding: 1rem;
    margin-top: 5rem;
}

.pricing p {
    font-size: small;
    color: rgb(78, 78, 78);
}

.card {
    height: 370px;
    width: 300px;
    margin: 3rem 0;
    box-shadow: 0 0 3px gray;
    padding: 1rem;
    border-radius: 10px;
}

.price p {
    font-size: 1rem;
    text-transform: uppercase;
    text-align: left;
    padding: 1rem 0;
}

.price small {
    color: gray;
    line-height: 2rem;
}

.price h2 {
    font-size: 3rem;
}

.advantage {
    padding: 1.2rem 0;
}

.advantage ul {
    padding: 0 1rem;
}

.advantage ul li {
    color: gray;
    line-height: 1.5rem;
}

.advantage ul li::marker {
    color: rgb(97, 97, 255)
}

.card button {
    width: 100%;
    padding: 0.7rem;
    border-radius: 10px;
    font-size: 1.2rem;
    border: 1px solid rgb(65, 65, 255);
    text-transform: capitalize;
    color: rgb(97, 97, 255);
    background-color: white;
}

.card button:hover {
    background-color: rgb(55, 55, 255);
    color: white;
}

.highlight {
    background-color: rgb(6, 6, 23);
}

.highlight .price h2 {
    color: white;
}

.highlight .price p {
    color: blue;
}

.highlight button{
    background-color: rgb(10, 10, 237);
    border: none;
    color: white;
}

.previous {
    padding: 2rem;

}

.previous h1 {
    font-size: 3rem;
    text-align: center;
    padding: 1rem;
    margin-top: 5rem;
}

.events {
    display: grid;
    justify-items: center;
    gap: 20px;
    padding: 5rem;
    grid-template-areas: 
    "one info1"
    "info2 two"
    "three info3";
}

.events div {
    height: 300px;
    width: 450px;
}


.event23 {
    grid-area: one;
    background-image: url(/previous/event1.png);
    background-size: cover;
    border-radius: 10px;
}
.event24 {
    grid-area: two;
    background-image: url(/previous/event2.png);
    background-size: cover;
    border-radius: 10px;
}
.event25 {
    grid-area: three;
    background-image: url(/previous/event3.png);
    background-size: cover;
    border-radius: 10px;
}

.events h3 {
    font-size: 2rem;
    padding: 1rem;
    color: white;
}

.place23{
    grid-area: info1;
}

.place24{
    grid-area: info2;
}
.place25{
    grid-area: info3;
    
}

.place23,
.place24,
.place25 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}


footer {
    background-color: #0e1b2b;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 500px;
}

.divider {
    width: 1px;
    height: 300px;
    background-color: #6c6c6c;
}


.social ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;
    list-style: none;
}

.social ul li {
    font-size: 1.5rem;
    color: white;

}

.social ul li a {
    text-decoration: none;   
}
.social ul li a:visited {
    color: white
}

.social ul li a i {
    padding: 0 1rem;
    font-size: 2rem;
}


.copyrite {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    color: gray;
}

.copyrite a {
    text-decoration: none;
    color: gray;
    padding: 1rem;
}